@import '../settings/variables';

.presentationloader {
  text-align: center;
  display: block;
  &__icon {
    display: inline-block;
    padding: $fontNormal / 2.5;
    margin: 0 .33em;
    background-color: $colorWhite;
    border-radius: 50%;
    animation: surge .5s ease-in-out 0s 1 backwards, pingLoading 1s ease-in-out 0s infinite alternate backwards;
    @for $i from 1 through 3 {
      &:nth-child(3n+#{$i}) {
        animation-delay: .5s, $i * 0.33s;
      }
    }
  }
}